body {
    margin: 0px;
    padding: 0px;
    background: #ffffee;
    color: #330000;
}

a:link { color: #990000; text-decoration: none; }
a:visited { color: #990000; text-decoration: none; }
a:hover { color: #d60000; text-decoration: underline; }

#top_line {
    background: url('../images/top_stripe.png') top center repeat-x;
    padding-bottom: 13px;
}

#container {
    margin: 0px auto 0px auto; /* adjusted margin */
    width: 720px;
}

#user_tray {
    float: right;
}

#user_tray a:link, #user_tray a:visited {
}

#user_tray a:hover, #user_tray a:active {
}

#header {
}

#main_nav {
    background: #662200 url(../images/tan_bg.png);
}

#main_nav_list {
    height: 42px;
    list-style: none;
    overflow: hidden;
}

#main_nav_list li {
    display: inline;
}

#main_nav_list li a {
    float: left;
    padding: 42px 0 0 0;
    height: 0px !important;
    background-position: top left;
    background-repeat: no-repeat;
    overflow: hidden;
}

#main_nav_list li#nav_home a {
	width: 128px;
	background-image: url(../images/home_nav.png);
	}
#main_nav_list li#nav_start_player a {
	width: 128px;
	background-image: url(../images/start_player_nav.png);
	}
#main_nav_list li#nav_dominion a {
	width: 128px;
	background-image: url(../images/dominion_nav.png);
	}
#main_nav_list li#nav_edit a {
	width: 128px;
	background-image: url(../images/edit_nav.png);
	}
#main_nav_list li#nav_users a {
	width: 128px;
	background-image: url(../images/users_nav.png);
	}
#main_nav_list li a:hover {
	background-position: 0 -42px;
	}
#main_nav_list li.active a {
	background-position: 0 -84px;
	}

#sub_nav {
    font-family: Georgia, Arial, Verdana, sans-serif;
    font-size:   14px;
    font-style:  italic;
    text-align:  center;
}

#flash_tray {
    float: right;
}

#divider_top {
    background: url('../images/dbl_line.png') bottom center repeat-x;
    padding: 2px;
}


div.equal_col {
    float: left;
}

.random_dominion_list ul {
    margin: 0 !important;
    padding: 0 !important;
}

.random_dominion_list a:link { color: black; text-decoration: none; }
.random_dominion_list a:visited { color: black; text-decoration: none; }
.random_dominion_list .card_link:hover {
    opacity: 0.6;
}

.random_dominion_list li.card {
    position: relative;
    overflow: hidden;
    text-align: center;
    list-style: none;
    font-size: 26px;
    font-weight: bold;
    white-space: nowrap;
    width: 200px;
    padding: 19px 25px 3px 66px;
}

.random_dominion_list li.card {
    background: url('/images/dominion-banners.png')  no-repeat;
}

.random_dominion_list li.action {
    background-position: 0 0;

}

.random_dominion_list li.action-attack {
    background-position: 0 -53px;

}

.random_dominion_list li.action-duration {
    background-position: 0 -106px;

}

.random_dominion_list li.action-reaction {
    background-position: 0 -159px;

}

.random_dominion_list li.action-victory {
    background-position: 0 -212px;

}

.random_dominion_list li.treasure {
    background-position: 0 -265px;

}

.random_dominion_list li.treasure-victory {
    background-position: 0 -318px;

}

.random_dominion_list li.victory {
    background-position: 0 -371px;

}

.random_dominion_list li input {
    position: absolute;
    top: 0;
    right: 5px;
}

.random_dominion_list li img.expansion {
    border: 0;
    position: absolute;
    bottom: 6px;
    right: 8px;
}

.random_dominion_list li span.cost {
    position: absolute;
    top: 18px;
    left: 19px;
    font-weight: bold;
    font-size: 32px;
}

.random_dominion_list li img.potion {
    border: 0;
    position: absolute;
    top: 20px;
    left: 50px;
}

div.options {
    clear: both;
}

#divider_bottom {
    background: url('../images/dbl_line.png') top center repeat-x;
    padding: 1px;
}
