<% title "Card Picker" %>

<div id="welcome" >

  <h2>(Version 2!)</h2>
  Please pick your game of choice below.

  <ul>
    <li class="arrow flip"><%= link_to "Start Player", start_player_card_path( :random ) %></li>
    <li class="arrow"><%= link_to "Dominion", random_dominion_card_sets_path %></li>
  </ul>
</div>