<div class="info">
  Welcome to
  <h1>Card Picker</h1>
  <h3>(Version 2!)</h3>

  Please pick your game of choice below.
</div>

<ul>
  <li class="arrow"><%= link_to "Start Player", random_start_player_cards_path %></li>
  <li class="arrow"><%= link_to "Dominion", random_dominion_card_sets_path %></li>
</ul>